<div id="<%= dom_id ano_letivo %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Ano:</strong>
    <%= ano_letivo.ano %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data inicio:</strong>
    <%= ano_letivo.data_inicio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data fim:</strong>
    <%= ano_letivo.data_fim %>
  </div>
</div>
