<div id="<%= dom_id turma %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= turma.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Serie:</strong>
    <%= turma.serie %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Turno:</strong>
    <%= turma.turno %>
  </div>
</div>
